.article-trend-line-chart .tick line {
    stroke: #dde;
}

.article-trend-line-chart .tick text {
    fill: #635F5D;
}

.article-trend-line-chart .marks circle {
    /* fill: #137B80; */
}

.article-trend-line-chart .marks path {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.article-trend-line-chart .axis-label {
    font-size: 2em;
    fill: #635F5D;
}