.article-trend-line-chart .tick line {
  stroke: #dde;
}

.article-trend-line-chart .tick text {
  fill: #635f5d;
}

.article-trend-line-chart .marks circle {
  /* fill: #137B80; */
}

.article-trend-line-chart .marks path {
  fill: none;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.article-trend-line-chart .axis-label {
  font-size: 2em;
  fill: #635f5d;
}

.article-trend-wrapper .my-tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
  max-width: 500px;
  font-size: 14px;
  z-index: 10;
}

.legend-item {
  cursor: pointer;
}

.legend-item:hover circle {
  stroke: #333;
  stroke-width: 1.5;
}

.legend-item:hover text {
  font-weight: bold;
}
.author-filter {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.author-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.author-filter select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 300px;
}
